---
import {Page3_Obj} from '../content/PageData'

import svg2 from '../docs/carousel-2.svg'


---


<div class="PAGE3 w-full h-[110vh] flex items-start justify-center flex-col gap-[10px]">
    <h1 class="PAGE3_HEAD text-6xl text-left max-[320px]:text-4xl max-[640px]:text-5xl">/ISMS Functionalities</h1>

    <div id="carousel-example" class="relative h-full w-full">
        <!-- Carousel wrapper -->
        <div
            class="relative h-full overflow-hidden rounded-lg"
        >

        {Page3_Obj.map((e:any, idx:number) => {
            return(
                <>
                    <div id={`carousel-item-${idx+1}`} class="hidden duration-700 ease-in-out">
                            <div class="h-full absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 p-[30px] max-[640px]:p-[10px] max-[640px]:pt-[0] bg-[rgba(0,0,0,0.25)]">
                                <div class={`FUNCTION_CARDS w-full max-[640px]:h-[120vh] max-[375px]:h-[150vh] max-[305px]:h-[180vh] max-[1024px]:h-[100vh] h-[80vh] flex items-start justify-center flex-col pl-[50px] max-[640px]:pt-[0] max-[1024px]:pl-[20px] max-[640px]:pl-[10px]`} >
                                    <h2 class=" text-3xl max-[640px]:text-2xl">{e.heading}</h2>
                                    <div class=" w-full h-[75%] flex items-center justify-start max-[640px]:flex-col max-[1024px]:flex-col flex-grow-0 pt-[20px] pr-[20px] pb-[20px]  max-[305px]:pr-[10px] max-[305px]:pb-[10px]">
                                        {e.cards.map((val:any) => {
                                            return (
                                                <>
                                                    <div class=" h-[90%] w-[33%] max-[640px]:h-[10%] max-[640px]:w-full max-[640px]:bg-[rgba(0,0,0,0.1)] max-[640px]:rounded-[10px] max-[640px]:p-[10px] max-[1024px]:gap-[10px]  max-[1024px]:h-[33%%] max-[1024px]:w-[90%] max-[1024px]:bg-[rgba(0,0,0,0.1)] max-[1024px]:rounded-[10px] max-[1024px]:p-[15px] flex items-start justify-between flex-col m-[10px]">
                                                        <div class="h-[30px] w-[30px] rounded-[30px] bg-amber-400 max-[640px]:hidden"></div>
                                                        <h2 class="text-5xl max-[640px]:text-xl max-[1080px]:text-4xl">{val.title}</h2>
                                                        <p class="text-sm max-[640px]:text-[0.775rem] max-[640px]:hidden">{val.desc}</p>
                                                        <button class="p-[5px] pl-[15px] pr-[15px] border-white border-[3px] hover:bg-white rounded-[25px] max-[640px]:hidden">Learn More</button>
                                                    </div>
                                                </>
                                            )
                                        })}
                                    </div>
                                </div>
                            </div>
                        </div>
                </>
            )
        })}
            
        </div>
        <!-- Slider indicators -->
        <div
            class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse"
        >
            {Page3_Obj.map((e:any, idx:number) => {
                return(
                    <>
                        <button
                            id={`carousel-indicator-${idx+1}`}
                            type="button"
                            class="h-3 w-3 rounded-full transition ease duration-1000"
                            aria-current={idx == 0  ? "true":"false"}
                            aria-label={`Slide ${idx+1}`}
                        ></button>
                    </>
                )
            })}
           
        </div>
        <!-- Slider controls -->
        <button
            id="data-carousel-prev"
            type="button"
            class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none max-[640px]:hidden"
        >
            <span
                class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
            >
                <svg
                    class="h-4 w-4 text-white dark:text-gray-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 1 1 5l4 4"
                    />
                </svg>
                <span class="hidden">Previous</span>
            </span>
        </button>
        <button
            id="data-carousel-next"
            type="button"
            class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none max-[640px]:hidden"
        >
            <span
                class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
            >
                <svg
                    class="h-4 w-4 text-white dark:text-gray-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 9 4-4-4-4"
                    />
                </svg>
                <span class="hidden">Next</span>
            </span>
        </button>
    </div>
   
    <script>
        import {Page3_Obj} from '../content/PageData'


        const carouselElement = document.getElementById('carousel-example');

        const items = Page3_Obj.map((e:any, idx:number) =>{
                        return {
                            position:idx,
                            el: document.getElementById(`carousel-item-${idx+1}`),
                        }
                    })


        // options with default values
        const options = {
            defaultPosition: 1,
            interval: 5000,

            indicators: {
                activeClasses: 'bg-white dark:bg-gray-800 w-5 transition ease duration-1000',
                inactiveClasses:
                    'bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800 transition ease duration-1000',
                    items:Page3_Obj.map((e:any, idx:number) =>{
                        return {
                            position:idx,
                            el: document.getElementById(`carousel-indicator-${idx+1}`),
                        }
                    })
            },

            // callback functions
            // onNext: () => {
            //     console.log('next slider item is shown');
            // },
            // onPrev: () => {
            //     console.log('previous slider item is shown');
            // },
            // onChange: () => {
            //     console.log('new slider item has been shown');
            // },
        };

        // instance options object
        const instanceOptions = {
        id: 'carousel-example',
        override: true
        };

        const T = [
            {
                name:'A'
            },
            {
                name:'b'
            }
        ]

        import { Carousel } from 'flowbite';

        const carousel = new Carousel(carouselElement, items, options, instanceOptions);

        carousel.cycle();

        const $prevButton = document.getElementById('data-carousel-prev');
        const $nextButton = document.getElementById('data-carousel-next');

        $prevButton?.addEventListener('click', () => {
            carousel.prev();
        });

        $nextButton?.addEventListener('click', () => {
            carousel.next();
        });

        
        </script>
</div>


